
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/profile-info/<%= locals.user.id %>" class="navbar-brand"><b><%= locals.user.name %></b></a>       
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            
            <div class="navbar-nav ml-auto action-buttons">
                <div class="nav-item dropdown">
                    <a href="/sign-out"class="btn btn-danger logout-btn">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
    <div class="card">
        <div class="card-header">
            Your Comment:
        </div>
        <div class="card-body">
        <form action="/posts/create" method = "POST">
          <textarea class="form-control" name = "content" id="exampleFormControlTextarea1" rows="3" col ="20"></textarea>
          <p class="card-text"></p>
          <button type = "submit" class="btn btn-primary">Post</button>
          </form>
        </div>
    </div>
    <div class="card card-2">
            <div class="card-header">
                    <h5>All Posts:</h5>
                </div>
<div class="card-body">
<div class="scroll-area-sm">
<perfect-scrollbar class="ps-show-limits">
<div class="ps-content">
<ul class=" list-group list-group-flush">
<% for(let i of posts) { %>
<li class="list-group-item">
<div class="d-flex row">
<div class="col-md-8">
<div class="d-flex flex-column comment-section">
<div class="bg-white p-2">
<div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://imgur.com/NkPeQtx.jpg" width="40">
<div class="d-flex flex-column justify-content-start ml-2">
<span class="d-block font-weight-bold name"><a href="/profile-info/<%= i.user._id %>"><%= i.user.name %></a>
<% if(locals.user.id == i.user.id) {%>
    &nbsp;&nbsp;<a href="/posts/destroy/<%= i._id%>"><i class="on-hover fs-12 fa fa-trash btn-trash"></i></a></span>
<%}%>
<% if(locals.user.id != i.user.id) {%>
</span>
    <%}%>
<span class="date text-black-50"><%= i.createdAt%></span></div>
</div>
<div class="mt-2">
<p class = "fs-12"><%= i.content%></p>
</div>
</div>

<div class="d-flex flex-row fs-12">
<div class="like p-2 cursor"><a class = "toggle-like fa fa-thumbs-up" data-likes = "<%= i.likes.length %>" href = "/posts/likes/toggle/?id=<%= i._id %>&type=Post" ><span class="ml-1"><%= i.likes.length %> Like</span></a></div>
<div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#<%= i._id %>"><i class="fa fa-comments"></i><span class="ml-1">Comments</span></div>
</div>
<div id="<%= i._id %>" class="bg-light p-2 collapse" data-parent="#myGroup">
<form id = "comment-form" action="/comments/create" method = "POST">
<div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://imgur.com/NkPeQtx.jpg" width="40"><textarea name = "content" class="form-control ml-1 shadow-none textarea"></textarea></div>
<input type = "hidden" name = "post" value = "<%= i._id %>" > 
<div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button></div>
</form>
<div id = "comments-list-container" >
<% for(let j of i.comments) { %>
<div class="bg-white p-2 fs-12">
        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://imgur.com/NkPeQtx.jpg" width="20">
        <div class="d-flex flex-column justify-content-start ml-2">
        <span class="d-block font-weight-bold name"><%= j.user.name %></span>
        <span class="date text-black-50"><%= j.createdAt%></span></div>
        </div>
        <div class="mt-2">
        <p class = "fs-10"><%= j.content%></p>
        </div>
        </div>
        <%}%>
    </div> 
</div></div></div></div></li>  <%}%> 
</ul></div>
</perfect-scrollbar>
</div></div></div></div>
<script src = "/ajax_comment.js"></script>
<script src = "ajax_likes.js"></script>

